
<SCRIPT LANGUAGE="JavaScript"> 
if (window.print) {
document.write('<form><input type=button name=print value="Print" onClick="window.print()"></form>');
}
</script>

<p> Successfully Joined the Group </p>

Print your ticket
<p><%= link_to "Printable Receipt (PDF)", prints_path(format: "pdf") %></p>

<img src="images/page1-img1.png" width="50" height="60" frameborder="0" onClick="javascript: window.frames['factura'].focus(); parent['factura'].print();">

<iframe src="/prints/show" width="100%" height="400" id="factura" name="factura">
 

</iframe>
 
